# You can define code owners in public repositories with 
# GitHub Free and GitHub Free for organizations, 
# and in public and private repositories with 
# GitHub Pro, GitHub Team, GitHub Enterprise Cloud, 
# and GitHub Enterprise Server.


# Default reviewers/codeowners for all code changes
* @Jasoncheungy @Jasoncheung94


# Reviewer by email for html files
*.html test@gmail.com

# Reviewer by organization Team
*.txt @organizationName/TeamName

# Reviewer by specific folders
/folder1/folder2 @user1 @user2 @test@gmail.com
